@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    /*color scheme*/
    --purple:#C0ABE6;
    --dark-blue:#3B4574;
    --color:#676294;
    --color:#7172A6;
    --color:#7C7B7C;
    --white:#E7F2F8;


    --blue:#3498db;
    --orange:#e67e22;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Poppins', sans-serif;
    background:var(--purple);
}


li {
    list-style:none;
}

.shopping-cart {
    background-color:#fff;
    background-color:var(--white);
    border-radius: 10px;
    width:50rem;

    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.shopping-cart__header {
    background-color:var(--dark-blue);
    color:var(--white);
    border-radius:5px 5px 0px 0px;
}


.product-details {
    display:flex;
    justify-content: space-between;
    width:95%;
    margin:0 auto;
    background-color:#eee;
}

.product-detail:first-of-type {
    background:red;
    margin-right:20rem;
}





.shopping-cart__footer {
    background-color:var(--dark-blue);
    color:var(--white);
    border-radius:0px 0px 5px 5px;
}
